.ingredient-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ingredient-list-item {
  border-style: solid;
  margin-bottom: 4px;
  padding: 4px;
  background-color: #E0F2F1;
}

.meal-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.meal-list-item {
  border-style: solid;
  margin-bottom: 4px;
  padding: 4px;
  background-color: #009688;
  min-height: 3.5em;
}

.header-inline {
  display: inline;
}

.header-inline > a {
  color: white;
}

.header-inline > a:visited {
  color: white;
}

.header-inline > a:hover {
  color: #EEDDEE;
}
